
@{
    ViewBag.Title = "Money";
}
@{
    Layout = "~/Views/Shared/_LayoutMoney.cshtml";
}
<div>
    <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">類別</label>
        <select class="form-control" id="exampleSelect1">
            <option value="">--請選擇--</option>
            <option value="1">支出</option>
            <option value="1">收入</option>
        </select>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">金額</label>
        <div class="col-xs-10">
            <input class="form-control" type="search" value="請輸入金額" id="example-search-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-email-input" class="col-xs-2 col-form-label">日期</label>
        <div class="col-xs-10">
            <input class="form-control" type="email" value="請選擇日期" id="example-email-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-url-input" class="col-xs-2 col-form-label">備註</label>
        <div class="col-xs-10">
            <textarea class="form-control" id="example-url-input"></textarea>
        </div>
        <button type="button" class="btn btn-primary">送出</button>
    </div>
   
    
    <br />
</div>
<div>
    @Html.Action("ListMoney")    
</div>
